<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1,initial-scale=1,user-scalable=1" />
    <title>TWITPIN</title>
    <!-- Custom CSS -->
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/style_login.css" />
    <!-- Google Font -->
    <link
        href="http://fonts.googleapis.com/css?family=Lato:100italic,100,300italic,300,400italic,400,700italic,700,900italic,900"
        rel="stylesheet" type="text/css">

    <!-- jQuery Library -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
    <!-- Bootstrap Core JS -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</head>

<body>



    <nav class="navbar navbar-light bg-light">
        <form class="form-inline" action="/profile/search" method="POST">
            <input class="form-control mr-sm-2" type="search" name="busqueda" placeholder="Buscar usuario"
                aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>

    <div class="container" style="background: #fff; border-radius: 5px;">

        <a href="/logout" style="text-align: right; display: inline-block; width: 95%; ">Logout</a>
        <div class="row">
            <div class="col-12 my-3 pt-3 shadow">
                <img src="/images/profile_twitpin.png" height="100px" width="100px"
                    class="float-left rounded-circle mr-2">
                <h1>{{varsession.nombre}} {{varsession.apellido}}</h1>
                <h3>@{{varsession.usuario}}</h3>
                <p>
                    Se unió el {{varsession.date}}<br>
                </p>

                <!--p>
                    <strong>Siguiendo</strong>:
                    50
                    <strong>Seguidos</strong>:
                    100
                </p-->

                <hr>

                <div class="card-body">
                    <form action="/twit" method="POST">
                        <div class="form-group">
                            <p>
                                Algo qu&eacute; decir ?
                            </p>
                        </div>
                        <div class="form-group">
                            <textarea name="twitcont" class="form-control" placeholder="twit"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" type="submit">
                                Publicar
                            </button>
                        </div>
                    </form>
                </div>



                {{#each twits}}
                <div class="row">

                    <div class="col-10">
                        <div class="card mb-3">
                            <div class="row no-gutters">
                                <div class="col-md-2">
                                    <div align="center">
                                        <img src="/images/profile_twitpin.png" height="70%" width="70%"
                                            class="float-left rounded-circle mr-3">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">@{{usuario}}</h5>
                                        <h6 class="card-subtitle text-muted">
                                            {{twit}}
                                        </h6>
                                        <p class="card-text small">
                                            {{date}}

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                {{/each}}
            </div>
        </div>
    </div>
</body>

</html>